.gamepad-list {
  width: 1200px;
  margin: 0 auto;
}

.group-btn-list {
  display: flex;

  .group-btn-column {
    flex: 0 0 400px;
    margin-right: 20px;
    .title-img {
      img {
        width: 400px;
      }
    }
    .buy-btn,
    .check-btn {
      width: 400px;
      height: 46px;
      margin-top: 30px;
      border-radius: 8px;
      font-size: 16px;
      line-height: 46px;
      text-align: center;
      background: #1890ff;
      color: #fff;
      border: 2px solid transparent;
    }
    .current-mode {
      width: 400px;
      height: 46px;
      margin-top: 30px;
      text-align: center;
      font-size: 18px;
      line-height: 46px;
      text-align: center;
      color: orange;
    }
  }
  .group-btn-row {
    width: 800px;
    flex: 1;
    display: flex;
    flex-direction: column;
    .game-slide-img {
      img {
        width: 800px;
        height: 400px;
      }
    }
    .slide-img-list {
      height: 90px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      img {
        border: 2px solid grey;
        width: 180px;
      }
    }
    .game-intro {
      height: 300px;
      margin-top: 20px;
      border: 5px solid grey;
      color: #fff;
    }
    .game-tab-list {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 20px;
      color: #fff;
      .game-tab {
        flex: 1;
        height: 50px;
        margin-right: 20px;
        line-height: 50px;
        text-align: center;
        border-right: 1px solid #000;
        background: grey;
        border: 2px solid transparent;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .game-tab-content {
      height: 300px;
      margin-top: 20px;
      border: 5px solid grey;
      color: #fff;
    }
  }

  .customSelected {
    border-color: yellow !important;
  }
  .actived {
    background: #1890ff !important;
  }
  :focus {
    outline: none;
  }

  .mask-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    .mask-wrapper-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 50%;
      height: 300px;
      padding: 20px;
      background: #fff;
      .mask-content {
        flex: 1;
        color: #000;
        font-size: 18px;
      }
      .mask-operate {
        display: flex;
        align-items: center;
        justify-content: center;
        .operate-btn {
          width: 100px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 8px;
          color: #fff;
          border: 2px solid transparent;
          background: #1890ff;
          &.mask-cancel {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.drawer-operate {
  height: 46px;
  margin-top: 30px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 46px;
  text-align: center;
  background: #1890ff;
  color: #fff;
  border: 2px solid transparent;
}

.customSelected {
  border-color: yellow !important;
}
